/* This is used to apply this to all the document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body
  {
    height:100vh;
    display:flex;
    flex-direction:column;
  }


.logo
{
    background-color: black;
    padding: 20px;
    display:flex;
    justify-content:space-around;
    
}

.nav-items
{
    display:flex;
}

.label
{
    display: inline-block;
    color:white;
}

ul{
    text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-top: -1px;
}

li{
    display: inline-block;
    color: white;
    margin: -100px 5px
}

.albumexample{
    text-align: center;
    padding: 50px;
}

.card
{
    width: 100%;
}

.image
{
    width:100%;
}


.thumbnails
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    gap: 20px;
    margin: 50px;
}

footer
{
    background-color: lightgray;
    padding:20px;
    display:flex;
    justify-content:space-between;
}

.bar-icon
{
    color: white;
    
}


/* //the following media command is used to make chnages for display size,
till our screen size if max 500px different methods(colors,position etc) as written below would be displayed. */


@media screen and (max-width: 500px){
body
{
    background-color: lightpink;
}

.bar-icon{
    display: block;
    float: right;
    position: relative;
    top: -70px;
}

li {
display: block;
margin:0;
text-align:center;
color: white;
}

ul{
    text-decoration: none;
    width: 100%;
    float:none;
    margin:0;
}
}    
